/* your custom css goes here - the styling below handles the footer*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.navbar-brand {
  padding: 0;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
#footer p.credit {
  margin-top: 20px;
}
.alert {
  padding: 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    background-color: rgb(192, 192, 192);
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
.table.resizable>thead>tr>th, .table.resizable>tbody>tr>td {
  /*text-align: center;*/
  padding-left: 5px !important;
}
/*.overlay {
    position:fixed;
    top:10;
    left:10;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
}*/
.overlay {
  position: fixed;
  top: 120px;
  right: -350px;
  bottom: 70px;
  max-height: 300px;
  width: 600px;
  z-index: 10;
  background-color: #f5f5f5;
  padding: 10px 25px 10px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.pullbar {
  height: 100%;
  margin: 0 0 0 -20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.pullbar:hover {
  background-color: #ddd;
}
.overlay-content {
  overflow: scroll;
  height: 100%;
}
.open-overlay {
  right: 0;
}
.overlay .JColResizer{
  table-layout: auto;
}
.table.resizable>tbody>tr>td>input {
  width: 100%;
  border: none;
  background: none;
  /*text-align: center;*/
}
.rangeGrip {
  background-color: #ddd;
  height: 10px;
  width: 10px;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.rangeDrag .rangeGrip {
  background-color: #6b6b6b;
}
.table.resizable>tbody>tr>td {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.table.resizable>tbody>tr>td.center, .table.resizable>tbody>tr>td.center>input {
  /*text-align: center;*/
  width: inherit;
}