{% extends "layout.html" %}
{% block body %}
<div id="main">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h4>This website facilitates the management of a farmers collective</h4>
      <p>It has several functions that are designed to replace manual methods used for ordering, tallying, and organizing delivery of food.  It was designed for an organic food coop that the author belongs to, servicing  Riga, Latvia</p>
      <p>The goal of this project is to create an open source solution for small locally organized food cooperatives that replaces spreadsheets, emails, and phone calls that are commonly used to in their operation.</p>
      <p>Flask was chosen as a platform because it is lightweight, easy to host and extend.</p>
		</div>
	</div>
</div>
{% endblock %}