{% extends "layout.html" %}
{% block body %}
<div class="row" id="mgmt">
  <div data-bind="foreach: status">
    <div data-bind="alert: $data"></div>
  </div> 
  <div class="form-group col-lg-9 col-md-9 col-sm-9">
    <select data-bind="options: buyers, optionsCaption: 'Select a User', value: $root.user, event: {change: filterOrders}" class="form-control" style="width: 200px;">
    </select>
    <h4>The Orders:</h4>
    <table class="table table-condensed resizable">
      <thead>
        <tr><th style="width: 40%;">Item Name</th><th style="width: 25%;">Actual Amount</th style="width: 10%;"><th>Units</th><th style="width: 15%;">Price ea.</th><th style="width: 13%;">Subtotal</th></tr>
      </thead>
      <tbody data-bind="foreach: userorders ">
        <td data-bind="text: $data.name"></td>
        <td><input data-bind="value: $data.quantity"></input></td>
        <td data-bind="text: $data.units"></td>
        <td data-bind="currency: $data.price, symbol: '€'"></td>
        <td data-bind="currency: $data.subtotal, symbol: '€'"></td>
      </tbody>
    </table>
    <p class="pull-right">Order Total: <span data-bind="currency: $root.total, symbol: '€'"></span></p>
    <button id="submitorder" type="button" class="btn btn-primary">Update Order</button>
  </div>
</div>
<body>
  {% include "_scripts.html" %}
  {% assets "jsMgmt" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
{% endblock %}