{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div id="flash"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-inline">
            <h4>This is {{ current_user.email }}'s profile page</h4>
            <div class="form-group">
                {% if current_user.has_role('farmer') %}
                <label for="username">Set your supplier name:</label>
                <input class="form-control" id="username"/>
                <button id="submitusername" type="button" class="btn btn-primary form-control">Submit</button>
                {% endif %}
            </div>
        </div><br/>
        <div>
            {% include "security/_menu.html" %}
        </div>
    </div>
</div>
<body>
    {% include "_scripts.html" %}
    {% assets "jsProfile" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
{% endblock %}